h1      {
                        font-size: 24 pt;
                        color: red;
                        font-style: normal;
                        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        font-weight: bold;
                        text-decoration: underline;
                    }
            em      {
                        font-style: normal;
                        color: red;
                        background-color: yellow;
                        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        font-weight: bold;
                    }
a:hover {
text-decoration: none;
}

p.centered {
text-indent: 3mm;
text-align: center;
text-emphasis-color: red;
text-emphasis-style: "*";
text-shadow: 2px 2px yellow;
}
.center-icon img {

display: inline-block;
margin: 0 auto;
}
.center-icon {
text-align: center;

}
ol{
border: thick solid purple;
margin-bottom: 1em;
margin-top: 1em;
padding: 4ex;
width: 50%;
background-color: aquamarine;
}


table th {
background-color: orange;
color: black;
padding: 8px;
text-align: center;
font-weight: bold;

}

